/mooc-java-programming-i/part02-Part02_01.Squared/target/
/mooc-java-programming-i/part02-Part02_02.SquareRootOfSum/target/
/mooc-java-programming-i/part02-Part02_03.AbsoluteValue/target/
/mooc-java-programming-i/part02-Part02_04.ComparingNumbers/target/
/mooc-java-programming-i/part02-Part02_05.CarryOn/target/
/mooc-java-programming-i/part02-Part02_06.AreWeThereYet/target/
/mooc-java-programming-i/part02-Part02_07.OnlyPositives/target/
/mooc-java-programming-i/part02-Part02_08.NumberOfNumbers/target/
/mooc-java-programming-i/part02-Part02_09.NumberOfNegativeNumbers/target/
/mooc-java-programming-i/part02-Part02_10.SumOfNumbers/target/
/mooc-java-programming-i/part02-Part02_11.NumberAndSumOfNumbers/target/
/mooc-java-programming-i/part02-Part02_12.AverageOfNumbers/target/
/mooc-java-programming-i/part02-Part02_13.AverageOfPositiveNumbers/target/
/mooc-java-programming-i/part02-Part02_14.Counting/target/
/mooc-java-programming-i/part02-Part02_15.CountingToHundred/target/
/mooc-java-programming-i/part02-Part02_16.FromWhereToWhere/target/
/mooc-java-programming-i/part02-Part02_17.SumOfASequence/target/
/mooc-java-programming-i/part02-Part02_18.SumOfASequenceTheSequel/target/
/mooc-java-programming-i/part02-Part02_19.Factorial/target/
/mooc-java-programming-i/part02-Part02_20.RepeatingBreakingAndRemembering/target/
/mooc-java-programming-i/part02-Part02_21.InAHoleInTheGround/target/
/mooc-java-programming-i/part02-Part02_22.Reprint/target/
/mooc-java-programming-i/part02-Part02_23.FromOneToParameter/target/
/mooc-java-programming-i/part02-Part02_24.FromParameterToOne/target/
/mooc-java-programming-i/part02-Part02_25.Division/target/
/mooc-java-programming-i/part02-Part02_26.DivisibleByThree/target/
/mooc-java-programming-i/part02-Part02_27.NumberUno/target/
/mooc-java-programming-i/part03-Part03_01.ThirdElement/target/
/mooc-java-programming-i/part03-Part03_02.SecondPlusThird/target/
/mooc-java-programming-i/part03-Part03_03.IndexOutOfBoundsException/target/
/mooc-java-programming-i/part03-Part03_04.ListSize/target/
/mooc-java-programming-i/part03-Part03_05.LastInList/target/
/mooc-java-programming-i/part03-Part03_06.FirstAndLast/target/
/mooc-java-programming-i/part03-Part03_07.RememberTheseNumbers/target/
/mooc-java-programming-i/part03-Part03_08.OnlyTheseNumbers/target/
/mooc-java-programming-i/part03-Part03_09.GreatestInList/target/
/mooc-java-programming-i/part03-Part03_10.IndexOf/target/
/mooc-java-programming-i/part03-Part03_11.IndexOfSmallest/target/
/mooc-java-programming-i/part03-Part03_12.SumOfAList/target/
/mooc-java-programming-i/part03-Part03_13.AverageOfAList/target/
/mooc-java-programming-i/part03-Part03_14.OnTheList/target/
/mooc-java-programming-i/part03-Part03_15.PrintInRange/target/
/mooc-java-programming-i/part03-Part03_16.Sum/target/
/mooc-java-programming-i/part03-Part03_17.RemoveLast/target/
/mooc-java-programming-i/part03-Part03_18.Swap/target/
/mooc-java-programming-i/part03-Part03_19.IndexWasNotFound/target/
/mooc-java-programming-i/part03-Part03_20.SumOfArray/target/
/mooc-java-programming-i/part03-Part03_21.PrintNeatly/target/
/mooc-java-programming-i/part03-Part03_22.PrintInStars/target/
/mooc-java-programming-i/part03-Part03_23.PrintThrice/target/
/mooc-java-programming-i/part03-Part03_24.IsItTrue/target/
/mooc-java-programming-i/part03-Part03_25.Login/target/
/mooc-java-programming-i/part03-Part03_26.LineByLine/target/
/mooc-java-programming-i/part03-Part03_27.AVClub/target/
/mooc-java-programming-i/part03-Part03_28.FirstWords/target/
/mooc-java-programming-i/part03-Part03_29.LastWords/target/
/mooc-java-programming-i/part03-Part03_30.AgeOfTheOldest/target/
/mooc-java-programming-i/part03-Part03_31.NameOfTheOldest/target/
/mooc-java-programming-i/part03-Part03_32.PersonalDetails/target/