/mooc-java-programming-i/part02-Part02_01.Squared/target/
/mooc-java-programming-i/part02-Part02_02.SquareRootOfSum/target/
/mooc-java-programming-i/part02-Part02_03.AbsoluteValue/target/
/mooc-java-programming-i/part02-Part02_04.ComparingNumbers/target/
/mooc-java-programming-i/part02-Part02_05.CarryOn/target/
/mooc-java-programming-i/part02-Part02_06.AreWeThereYet/target/
/mooc-java-programming-i/part02-Part02_07.OnlyPositives/target/
/mooc-java-programming-i/part02-Part02_08.NumberOfNumbers/target/
/mooc-java-programming-i/part02-Part02_09.NumberOfNegativeNumbers/target/
/mooc-java-programming-i/part02-Part02_10.SumOfNumbers/target/
/mooc-java-programming-i/part02-Part02_11.NumberAndSumOfNumbers/target/
/mooc-java-programming-i/part02-Part02_12.AverageOfNumbers/target/
/mooc-java-programming-i/part02-Part02_13.AverageOfPositiveNumbers/target/
/mooc-java-programming-i/part02-Part02_14.Counting/target/
/mooc-java-programming-i/part02-Part02_15.CountingToHundred/target/
/mooc-java-programming-i/part02-Part02_16.FromWhereToWhere/target/
/mooc-java-programming-i/part02-Part02_17.SumOfASequence/target/
/mooc-java-programming-i/part02-Part02_18.SumOfASequenceTheSequel/target/
/mooc-java-programming-i/part02-Part02_19.Factorial/target/
/mooc-java-programming-i/part02-Part02_20.RepeatingBreakingAndRemembering/target/
/mooc-java-programming-i/part02-Part02_21.InAHoleInTheGround/target/
/mooc-java-programming-i/part02-Part02_22.Reprint/target/
/mooc-java-programming-i/part02-Part02_23.FromOneToParameter/target/
/mooc-java-programming-i/part02-Part02_24.FromParameterToOne/target/
/mooc-java-programming-i/part02-Part02_25.Division/target/
/mooc-java-programming-i/part02-Part02_26.DivisibleByThree/target/
/mooc-java-programming-i/part02-Part02_27.NumberUno/target/